<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <category categoryName="Main">
    <menu header ="Start Here..."
					page="/Pages/StartHere.xaml" />
   <menu header ="Shapes"
					page="/Pages/ShapesPage.xaml" />
    <menu header ="Combine Shapes"
					page="/Pages/ComplexShapesPage.xaml" />

    <menu header ="Bullet Decorator"
					page="/Pages/BulletDecoratorPage.xaml" />
      <menu header ="Basic Adorner"
					page="/Pages/UseAdornerPage.xaml" />
    
  </category>
  <category categoryName="Interaction">
    <menu header ="Interaction Modes"
					page="/Pages/InteractionModesPage.xaml">
    </menu>
    <menu header ="Interaction Shapes"
					page="/Pages/InteractionModesShapesPage.xaml">
    </menu>
   
  </category>

  
</menus>