<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <category categoryName="Main">
    <menu header ="Start Here..."
					page="/Pages/StartHere.xaml" />
  </category>
  <category categoryName="Examples">
    <menu header ="Overview - All the Text Controls"
					page="/Pages/AllTheTextControls.xaml">
    </menu>
    
    <menu header ="TextBlock"
           page="/Pages/TextBlockPage.xaml">
    </menu>
    <menu header ="TextBlock Inlines"
					page="/Pages/TextBlockInlinesPage.xaml">
    </menu>

    <menu header ="Label"
         page="/Pages/LabelPage.xaml">
    </menu>

    <menu header ="Keyboard Access Keys and Label"
        page="/Pages/AccessKeysPage.xaml">
    </menu>

   
   
  </category>
</menus>