<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <category categoryName="Main">
    <menu header ="Start Here..."
					page="/Pages/StartHere.xaml" />
  </category>
  <category categoryName="Examples">
    <menu header ="Overview"
					page="/Pages/Page1.xaml">
    </menu>
   
   
   
  </category>
</menus>